.header {
    background-color: #fefefe;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 6%);
    padding: 20px 0;
    width: 100%;

    &__content {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        width: 60px;
    }
}